html,
    body {
        height: 100%;
        color:black;
        
    }
    
    body {
        display: -ms-flexbox;
        display: flex;
        -moz-flex-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    table tr td{
        color:black
    }
    .alert{
        color:black;
    }
    .Admin-register, .Admin-login, .Admin-reset{
        position: relative;
        left: 13cm;
    }
    .badge{
        padding: '2em';
    }

   
